@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#table {
  width: 480px;
  margin-left: 20px;
  margin-right: 20px;
  border:#D9DDE2 solid;
 

}
#brn_service{
  background-color: rgb(202, 202, 88);
  width: 80px;
  text-align: center;
}

:root{
  --color1:#ffd556;
  --color2: #0a1832;
}
a,a:hover{
  text-decoration: none;
}
body{
  /* direction: rtl; */
  font-family: Arial, Helvetica, sans-serif;
}


.top-nav{
  width: 100%;
  height: 50px;
  position: fixed;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
  background: var(--color2);
  z-index: 999;
}
 .top-nav .logo{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
 }
 .nav-links{
  margin-left: auto;
  margin-right: 30px;
}
.nav-links a{
  margin-left: 20px;
  color: #d1d1d1;
}
  .top-nav .avatar{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
} 
  .top-nav .avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}  
.top-nav .dashboard-btn{
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.top-dropdown-menu{
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  min-width: 120px;
  background: #1e53b6;
 opacity: 0;
 z-index: 999;
 pointer-events: none;
  transition: all 0.3s;
}
.top-dropdown-menu.opened{
  opacity: 1;
  pointer-events: all;
}
.top-dropdown-menu a{
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}



 .content{
  padding: 70px 30px;
  min-height: 100vh;
  background: #f2f2f2;
} 
/* css home page  */
.home{
  padding-top: 50px;
  background: var(--color2);
}
.home .page-top{
  min-height: 80vh;
  padding-top: 50px;
}
.home .page-top .text{
  color: #f2f2f2;
  text-align: center;
}
.home .page-top .main-img{
  width: 250px;
  height: 300px;
  border-radius: 0 10px 50% 10px;
  display: block;
  margin-right: auto;
}
.home .ex-design,.home .in-design{
  height: 400px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 50px;
  position: relative;
}
.text-card{
  position: absolute;
  width: 250px;
  height: 200px;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px 50px 10px 50px;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.text-card.right{
  left: unset;
  right: 20%;
  border-radius: 50px 10px 50px 10px;
}
.text-card::after{
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: var(--color1);
  border-radius: 50%;
  z-index: -1;
  top: -40px;
  left: -40px;
}
.text-card.right::after{
  left: unset;
  right: -40px;
  background: #0370af;
}
.text-card p{
  color: #555;
}

.home footer{
  color: #fff;
  text-align: center;
}
.social-icons{
  font-size: 22px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
*Sections Page*/
.sections{   
    padding-top: 50px;
    background: #f2f2f2;
}
.sections .section{
    margin-bottom: 20px;
}
.sections .section .header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.sections .section .header select{
    background:var(--color1);
    width: 100px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
    font-size: 18px;
}

.sections .items{
    display: flex;
    flex-wrap: wrap;
}
.sections .items .item{
    height: 200px;
    width: 280px;
    background: var(--color2);
    border-radius: 30px 0 30px 0;
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px;
}
.sections .items .item .user{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    border: 1px solid #333;
}
.sections .items .item .user img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.sections .items .item .head{
    height: 65%;
    background: darkgray;
    border-radius: 30px 0 30px 0;
}
.sections .items .item .head img{
    width: 100%;
    height: 100%;
    border-radius: 30px 0 30px 0;
}
.sections .items .item .footer{
    color: #eee;
    padding: 10px;
}
.sections .items .item .footer .stars{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.sections .items .item .footer .stars .number{margin-right: 6px;}

.search-box{
    width: 400px;
    max-width: 90%;
    margin: 20px auto;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 2px;
    background: #fff;
}
.search-box input{
    width: 98%;
    border-radius: 20px;
    padding: 7px 15px;
    border: none;
    outline: none;
    font-size: 10px;
}
.search-box button{
    position: absolute;
    background: var(--color1);
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
    width: 50px;
    border: none;
    outline: none;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/*addServiceForm*/
.addServiceForm{
  padding-top: 60px;
}
.addServiceForm .form-groupp{
  margin-bottom: 20px;
}


/*----- add-gallery page -----*/
.add-gallery{

}
.add-gallery input[type="file"]
{
  display: none;
  padding-top: 70px;}
.uploade-image-label{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border: 1px dashed #555;
  cursor: pointer;

}

/*createDesigner*/
.createDesigner{
  padding-top: 70px;
}
/* add gallery */
.createGallery{
  padding-top: 70px;
}
/* SignUp */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background:#fff;
    font-family: 'Poppins', sans-serif;
   
   
}

.row {
  padding-top: 70px;
    width: 900px;
    border: none;
    border-radius: 0;
    box-sizing: border-box
}

.lcol {
    background: linear-gradient(to bottom, rgb(24, 34, 63) 50%, rgba(40, 30, 101, 1) 100%, rgba(125, 185, 232, 1) 100%);
    height: 550px;
    padding: 0 35px
}

.rcol {
    background: #fff;
    padding: 80px;
    height: 550px
}
span.txt {
    color: #ffd556
}

.greeting {
    padding-top: 200px;
    padding-right: 90px
}

h6.mt-3 {
    padding-right: 115px
}

.footer {
    margin-top: 220px
}

.footer span {
    color: #B0A1E2;
    font-size: 9px;
    cursor: pointer
}
.fab {
    color: #EDEDF5;
    font-size: 10px;
    margin-right: 20px;
    padding-top: 3px;
    cursor: pointer
}

h2.heading {
    font-weight: bold
}

.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #F2F2F2
}

.form-control::placeholder {
    font-size: 13px;
    color: #C2C2CC
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #F2F2F2
}

.fone input {
    padding-left: 20px
}

.fone {
    position: relative
}

.fone .fas {
    position: absolute;
    left: 0;
    top: 5px;
    padding: 8px 0px;
    color: #C2C2CC;
    font-size: 12px
}
.fone .image {
    position: absolute;
    left: 275px;
    top: 0px;
    cursor: pointer
}

.form-check-input {
    margin-top: 10px
}

.form-check-label {
    font-size: 9px;
    color: #C2C2CC
}

.btn-success {
    padding: 7px 40px;
    background: #ffd556;
    border: none;
    border-radius: 30px;
    font-size: 9px
}
.btn-success:hover {
    background:rgb(76, 4, 245)
}

.btn-success:focus {
    box-shadow: none
    
}

u {
    cursor: pointer
}

p.exist {
    font-size: 9px;
    color: #C2C2CC
}
p.exist span {
    cursor: pointer;
    color: #ABA5D3
}

@media screen and (max-width: 993px) {
    .fone .image {
        position: absolute;
        left: 180px
    }

    .footer {
        margin-top: 170px
    }
}

@media screen and (max-width: 768px) {
    .row {
        width: 450px
    }

    .rcol {
        padding: 60px 180px 60px 60px
    }
}

@media screen and (max-width: 420px) {
    .rcol {
        padding: 60px 50px 60px 50px
    }}