@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
h1 {
  font-family: 'Montserrat', sans-serif; }

.pp {
  font-family: 'Open Sans', sans-serif;
  text-align: justify; }

.blue-bg {
  position: fixed;
  background: url( "https://nestia-food.obs.ap-southeast-3.myhuaweicloud.com/202103/31/4ecc6bd55af1e634f56e013e6730ab06.jpg");
  background-size: cover;
  background-color: #eef0f1;
  top: 0;
  height: 500px;
  width: 100vw;
  z-index: -1;
  overflow-x: hidden; }
  #bo{
    width: 23%;
    height: 15%;
  }
.about{
  font-weight: 900;
  font-size:25px;
}
.white-bg {
  position: absolute;
  top: 0;
  background-color: #fff;
  min-height: 500px;
  margin: 210px 0px;
  width: 100vw;
  height: 100vh;
  transform: skewY(5deg);
  z-index: -1; }

.content0 {
  position: absolute;
  top: 0;
  margin: 250px 10vw;
  max-width: 600vw;
  background-color: transparent; }

.shadow {
  box-shadow: -2px -5px 5px 0px rgba(0, 0, 0, 0.3); }
  :root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color:white;
  }
  
  